<div class="card shadow border-0" style="margin-bottom: 3rem; padding: 3rem">
<h1>Nouvelle gare</h1>
<hr>
<%= render 'form', station: @station %>

</div>

<%= link_to 'Retour', stations_path, class: 'btn btn-primary btn-lg'%>