<div class="container">
    <div class="row">
        <div class="col">
            <h1>Gare : <%= @station.station_name %> </h1>
        </div>
        <div class="col">
            <h1>Numero de la gare: <%= @station.station_number %></h1>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h1>Description :</h1>
            <h3>
                <%= @station.description %>
            </h3>
        </div>
        <div class="col">
            <%= image_tag @station.picture, class: "img-fluid", size: "400x400" if @station.picture.present? %>
        </div>
    </div>
</div>