<div class="container">
  <div class="row">
    <div class="col">
      Gare : <h1><%= @station.station_name %> </h1>
    </div>
    <div class="col">
      Numero de la gare: <h1><%= @station.station_number %></h1>
    </div>
    <div class="w-100"></div>
    <div class="col">
      Description : <p>
        <%= @station.description %>
      </p>
    </div>
    <div class="col">
      <%= image_tag @station.picture, class: "img-fluid", size: "400x400" %>
    </div>
  </div>
</div>
