<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
</div>

<div>
    <div class="modal-body">modal content</div>
</div>
<div>
    <div class="modal-footer">
        <buttont class="btn btn-primary">close</buttont>
    </div>
</div>