<div class="card shadow border-0" style="margin-bottom: 3rem; padding: 3rem">
    <h1>Nouvelle tournée</h1>
    <hr>
    <%= render 'form', round: @round %>

    <%= link_to 'Retour', rounds_path %>
</div>