<div class="card shadow border-0" style="margin-bottom: 3rem; padding: 3rem">
    <h1>Nouvel horaire</h1>

    <%= render 'form', schedule: @schedule %>

    <%= link_to 'Retour', schedules_path %>
</div>