<p>
  <strong>Horaire: </strong>
  <%= @schedule.schedule.strftime("%H:%M") %>
</p>

<%= link_to 'Modifier', edit_schedule_path(@schedule), class: 'btn btn-primary' %>
<%= link_to 'Retour', schedules_path, class: 'btn btn-secondary' %>
