/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require select2-bootstrap
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "./actiontext.scss";

html, .body {
    background-color: #EDF2F7!important!important!important!important;
}

.neumor {

    & p {
        font-size: 35px;
    }
}

nav {
    background: #efefef;
    box-shadow: 
    1rem 1rem 2rem rgba(0,0,0,.1),
    -1rem 1rem 2rem rgba(255,255,255,.5);

    .navbar-brand {
        font-size: 35px;
    }

    & li {
        font-size: 25px;

        .dropdown-item {
            padding: 20px;
        }
    }

    & a {

        font-size: 25px;

        &:hover {
            background-color: transparent;
        }
        
    }
}

.btn {
    color: white!important;
}


.spacer {
    margin: 60px;
}
